@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

body {
    background: #222;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.container {
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    padding: 0 2em;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;

}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;

}
nav li {
    display: inline-block;
    padding: 2em;
    text-align: center;
    transition: all .2s;

}
nav li:last-child {
    padding-right: 0;
}
nav a {
    color: white;
    text-decoration: none;
    transition: all .3s;
}
nav a:hover {
    color: #DDD;
}

#icon {
    display: inline-block;
    padding-top: .7em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}

#nav-bg {
    background: #222;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    z-index: 1;
}

header {
    position: relative;
    background-color: #FD7777;
    padding: 10em 0 8em;
    z-index: 2;
    color: white;
    background-image: url("../images/champs.jpg");
     background-size: 100%;
}
header h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#about {
    background: white;
    height: auto;
    padding: 5em 0;
}

#about p {
    line-height: 2em;
    font-size: 0.8em;
    margin: 0;
    color: grey;
}
.label{
    padding: 50px;
}
h2 {
    text-align:center;
    padding-bottom: 100px;
}
.container {
    width:100%;
    margin:0 auto;
}
input[type="radio"] {
    display:none;
}
label {
    width:23%;
    float:left;
    text-align:center;
    background:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#222222;
    padding:0.5%;
    margin:0.5%;
    margin-bottom:30px;
    cursor:pointer;
}
input[type="radio"][id="blue"]:checked + label {
    background:#00BCD4;
}
input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
}
input[type="radio"][id="red"]:checked + label {
    background:#e54b4b;
}
input[type="radio"][id="reset"]:checked + label {
    background:#4CAF50;
}
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
}
input[type="radio"][id="green"]:checked + label {
    background:#FFA000;
}
input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
}

.tile {
    width:23%;
    height:auto;
    float:left;
    transition:all 1s;
    margin:0 auto;
    padding:0.5%;
}



*, *:before, *:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
    width: auto;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.card:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background: cadetblue;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}
.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.firstinfo .profileinfo {
    padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #009688;
    font-style: italic;
}
.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -600px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}
@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}
nav a:hover{
    color: lawngreen;
}
.btn {
   font-size: 25px;
}

.fa-info-circle {
   color: red;

}
.footer{
    width: 100%;
}

