@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

body {
    background: #222;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.container {
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    padding: 0 2em;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;

}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}
nav li {
    display: inline-block;
    padding: 2em;
    text-align: center;
    transition: all .2s;
    color: white;
}

nav li:last-child {
    padding-right: 0;
}
nav a {
    text-decoration: none;
    transition: all .3s;
    color: white;
}
nav a:hover {
    color: lawngreen;
}

#icon {
    display: inline-block;
    padding-top: .7em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}

#nav-bg {
    background: #222;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    z-index: 1;
}
.btn {
    margin-top: 20px;
}
header {
    position: relative;
    background-color: black;
    padding: 10em 0 8em;
    z-index: 2;
    color: white;
    /* background-image: url("../images/download.jpg");
     background-size: 100%;*/
}
header h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#fiche {
    background: white;
    height: auto;
    padding: 5em 0;
}

#fiche p {
    line-height: 2em;
    font-size: 1em;
    margin: 0;
    color: grey;
}

.logo_agroboost {
    text-align: center;
}

.img_champs {
    margin: 0px;
    width: 100%;
    height: 600px;
}

.texte_fiche, h2, h3 {
    text-align: center;
}

.liste_profil {
    margin-left: 30px;
    margin-top: -10px;
    line-height: 1.5em;
}

.liste_profil,  li {
    list-style: none;
    text-align: left;
}

.texte_fiche {
    margin-top: 10px;
}

.para {
    text-align: left;
}

.glyph_profil {
    width: 90px;
    bottom: 20px;
}

.catchline {
    margin-bottom: 40px;
}

.btn_diagn {
    background-color: #F84345;
    margin: 15px 15px 15px 15px;
    width:200px;
    height: 50px;
    border-radius: 0px;
    color: white;
}

.btn_diagn:hover  {
    color: #F84345;
    background-color: white;
}

.trait{
    width: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    border-bottom-width: thin;
}

.apropos {
    margin-top: 30px;
    text-align: justify;
}

.liste_infos {

}