.logo_agroboost {
    text-align: center;
    width:500px;
}

.diagnostic {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: justify;
}

.spider {
    width:90%;
    margin-left: 20px;
}

.infos2 {
    margin-top: 70px;
    margin-bottom: 30px;
}

.business {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

nav a:hover {
    color: lawngreen;
}