@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

body {
    background: #222;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.container {
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    padding: 0 2em;
}

nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;

}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;

}
nav li {
    display: inline-block;
    padding: 2em;
    text-align: center;
    transition: all .2s;

}
nav li:last-child {
    padding-right: 0;
}
nav a {
    color: white;
    text-decoration: none;
    transition: all .3s;
}
nav a:hover {
    color: #DDD;
}

#icon {
    display: inline-block;
    padding-top: .7em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}

#nav-bg {
    background: #222;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    z-index: 1;
}
.btn {
   margin-top: 20px;

}
header {
    position: relative;
    background-color: #FD7777;
    padding: 10em 0 8em;
    z-index: 2;
    color: white;
   /* background-image: url("../images/download.jpg");
    background-size: 100%;*/
}
header h1 {
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#about {
    background: white;
    height: auto;
    padding: 5em 0;
}

#about p {
    line-height: 2em;
    font-size: 0.8em;
    margin: 0;
    color: grey;
}
.glyphicon{
    background-color: #E1E0DD;
    padding: 5px;
}

.content__body{
    border: 1px solid #E1E0DD;
    margin: 10px;

    text-align: center;


}
.trait{
    width: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    border-bottom-width: thin;
}
.content {
   padding-bottom: 30px;
    height: auto;
}
.content2{
    padding-left: 50px;
}

.content .collapse__head {
    position: relative;

    background: #e5e5e5;
    padding: 5px 10px 5px 30px;
}

.content .collapse__head:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #333;
}
.content .collapse__head.open {
    top: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;

}
.content .content__body {
    padding: 10px;
    display: none;
}

.content .collapse__body p {
    margin: 0;
    font-size: 1em;
    border-style: solid;
}
.chiffre{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.form-control{
    border: none;

}
.modal-dialog{
    border-radius: 0px;
    height: 80% !important;
    padding-top:10%;
}
.modal-footer, .modal-header{
    border: none;
}
.modal-content{
    border-radius: 0px;
}
.btn-primary{
    color: #33333B;
    background: transparent;
    border-color: #33333B;

}
.acteurs{
    border-top: 1px;
    border-bottom: 1px;
    text-align: center;
}

.agenda, .agenda p{
    text-align: center;
    padding-bottom: 15px;
}

.img-responsive{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;

}